body {
    background-color: #366141;
}

main {
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

kbd {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.white-keys kbd {
    background-color: white;
    padding: 14vh 0 0;
    height: 20vh;
    width: 50px;
    border: 2px solid #929292;
    font-weight: bold;
    font-size: 1.2em;
}

.black-keys {
    position: absolute;
    top: 0;
    left: 0;
}

.black-keys kbd {
    background-color: black;
    color: white;
    height: 12vh;
    width: 30px;
    margin-left: 20px;
    padding: 6vh 0 0;
}

.black-keys kbd:nth-child(1) {
    margin-left: 34px;
}

.black-keys kbd:nth-child(3) {
    margin-left: 71px;
}